.showall_wrapper{
    background-color: #e2e2e2;

}

    .col-sm-3 {
        padding: 60px 50px;
      text-align: center;
      margin: 15px 0;
      
      
    }
  

.thumbnail {
    padding: 0 0 0 0;
    border-radius: 0;
  }
  .thumbnail img {
    
    margin-bottom: 10px;
  }
